<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cs2.css">
</head>
<body>
    <div id="one">
    <h1>WELCOME NEW USER </h1>
    <p>Name: <%= global_data.FIRST_NAME %></p>
    <!-- <p>Name: <%= global_data.LAST_NAME %></p> -->
    <p>Contact: <%= global_data.CONTACT %></p>
    <p>age: <%= global_data.AGE %></p>
    <p>city: <%= global_data.CITY %></p>
    <p>state: <%= global_data.STATE %></p>
    </div>
</body>
</html>